* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

button {
    cursor: pointer;
}

body {
    background-color: white;
}

.image-container {
    height: 85px;
}

.logo-svg {
    height: 100%;
}

.navbar {
    display: flex;
    position: fixed;
    height: 75px;
    width: 100%;
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 40px;
    align-items: center;
    background-color: white;
    border-bottom: 0.05px solid rgba(211, 211, 211, 0.5);
}

.flex-navbar {
    margin-left: auto;
    height: 35px;
}

.location-logo {
    height: 20px;
}

.search-bar {
    width: 80%;
    height: 51px;
    background-color: #005B56;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 300px;
    background-color: transparent;
    border: none;
    font-size: 14px;
    outline: none;
}

.form-container {
    display: flex;
    gap: 10px;
}

.search-icon {
    height: 20px;
}

.location-icon-img {
    height: 20px;
}

.location-btn {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 15%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#home {
    display: flex;
    height: 100vh;
}

.food-home-img {
    width: 100%;
}

.home-image-container {
    width: 500px;
    margin-left: auto;
    margin-top: 100px;
}

.home-text {
    width: 100%;
}

.home-text-btn {
    width: 500px;
    margin-top: 150px;
}

.choose-vendor-btn-container {
    display: flex;
    justify-content: center;
}

.signup-btn {
    margin-left: 15px;
    background-color:#57b182;
    color: white;
}

#home, .navbar {
    padding-right: 70px;
    padding-left: 70px;
}

.login-btn, .signup-btn {
    height: 37px;
    width: 100px;
    border: none;
    border-radius: 20px;
    font-size: 15px;
}

.login-btn {
    background-color: transparent;
    border: 0.63px solid #005B56;
    color: #005B56;
}

.signup-btn {
    background-color: #005B56;
}

span {
    color: #005B56;
    font-style: italic;
}

.header-text {
    font-size: 6.5rem;
    
}

.descriptive-text {
    color: rgb(46, 46, 46);
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 400px;
}

input {
    color: white;
}

input::placeholder { 
    color: white;
}

.login-btn:hover {
    background-color: #005B56;
    color: white;
}

.signup-btn:hover {
    background-color: white;
    border: 0.63px solid #144D3D;
    color: #005B56;
}

#about {
    height: 180vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.aboutimg {
    width: 400px;
    height: 266px;
    margin-bottom: 30px;
}

.about-image-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.first-grid {
    display: flex;
    gap: 100px;
}

.second-grid {
    display: flex;
    gap: 100px;
}

.aboutimg-text {
    font-size: 15px;
}

.aboutimg-text-container {
    width: 350px;
    word-wrap: break-word;
    white-space: normal;
}

.text-container {
    margin-bottom: 40px;
}

.text-container h2 {
    font-size: 50px;
}

.grid-img-and-text {
    padding: 10px 10px;
    height: 500px;
    border: 0.63px solid #144D3D;
    border-radius: 30px;
    transition: box-shadow 0.5s ease-in-out;
}

.grid-img-and-text:hover {
    box-shadow: 0.1px 0.1px 3px #144D3D;
}

#order {
    background-image: url(images/pexels-vanessa-loring-5972006.jpg);
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(10px);
    height: 75vh;
}

#order > h2 {
    color: white;
    text-align: center;
    position: relative;
    top: 60px;
    font-size: 2rem;
}

.order-placement {
    display: flex;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3em;
    height: 80px;
    width: 80px;
    text-align: center;
    background-color: #144D3D;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.order-placement > p {
    color: white;
    width: 250px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: 0.1px solid rgba(225, 225, 225, 0.9);
    border-top: 0.1px solid rgba(225, 225, 225, 0.9);
    border-bottom: 0.1px solid rgba(225, 225, 225, 0.9);
    font-size: 17px;
}

.orders-step {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;
}